@import "tailwindcss";


body {
  font-family: Inter, sans-serif;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "nunito";
  src: url("/fonts/Nunito-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Geist";
  src: url("/fonts/Geist-VariableFont_wght.ttf") format("truetype");
}


@font-face {
  font-family: "Comic Neue";
  src: url("/fonts/ComicNeue-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-VariableFont_opsz,wght.ttf") format("truetype");
  font-display: swap;
}

:root {

  --background: #F4F8FB;
  --surface: #FCFDFE;
  --card: #E6EEF6;
  --plate: #EEF4F9;
  --plate-ring: #94A3B833;
  --text-body: #334155CC;
  --text-hover: #0369A1;
  --text-small: #1E293B;
  --text-mini: #64748BCC;
  --text-bright: #020617;
  --text-med: #0F172A;
  --img-border: #BFDBFE;
  --hr: #CBD5E180;
  --border: #94A3B899;
  --shadow: #0F172A12;
  --drawer: #FCFDFEE6;
  --side: #64748B;
  --side-hover: #0F172A;
  --checked: #22D3EE;
  --unchecked: #64748B;
  --badge: #D6EAFB

}

:root[data-theme="blue"] {
  --background: #0F172AE6;
  --surface: #162033;
  --card: #16385C40;
  --plate: #2B3A52;
  --plate-ring: #94A3B84D;
  --text-body: #CBD5E199;
  --text-hover: #67E8F9;
  --text-small: #F1F5F9CC;
  --text-mini: #CBD5E199;
  --text-bright: #F8FAFC;
  --text-med: #E5E7EB;
  --img-border: #0E7490;
  --hr: #475569;
  --border: #22D3EE4D;
  --shadow: #FFFFFF1A;
  --side: #94A3B8;
  --side-hover: #F8FAFC;
  --drawer: #0F172AB3;
  --checked: #22D3EE;  
  --unchecked: #CBD5E1; 
  --badge: #D1FAE51A;

}



@theme inline {
  /* Fonts */
  --font-sans : "Courier Prime", sans-serif;
  --font-serif : "Inter", serif;

  /* Colors */
  --color-background: var(--background);
  --color-surface: var(--surface);
  --color-card: var(--card);
  --color-plate: var(--plate);
  --color-plate-ring: var(--plate-ring);
  --color-text-body: var(--text-body);
  --color-text-hover: var(--text-hover);
  --color-text-small: var(--text-small);
  --color-text-mini: var(--text-mini);
  --color-text-bright: var(--text-bright);
  --color-text-med: var(--text-med);
  --color-img-border: var(--img-border);
  --color-hr: var(--hr);
  --color-border: var(--border);
  --color-shadow: var(--shadow);
  --color-drawer: var(--drawer);
  --color-side: var(--side);
  --color-side-hover: var(--side-hover);
  --color-checked: var(--checked);
  --color-unchecked: var(--unchecked);
  --color-badge: var(--badge);

}


@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(12px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.typing-wrapper {
  display: inline-block;
  width: 25ch; /* reserve space */
}

.typing {
  display: inline-block;
  width: 25ch;          /* final width */
  overflow: hidden;
  white-space: nowrap;
  font-family: monospace;
  border-right: 3px solid var(--color-accent);

  animation:
    typing 1.8s steps(35, end) forwards,
    blink 0.5s step-end infinite;
}

@keyframes typing {
  from {
    clip-path: inset(0 100% 0 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}

@keyframes blink {
  50% {
    border-right-color: transparent;
  }
}